{"http_interactions":[{"request":{"method":"head","uri":"http://docker.dev:8080/zen?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Api-Account-Id":["1a1"], "X-Api-Client-Ip":["192.168.99.1"], "X-Api-Schemas":["http://docker.dev:8080/v1/schemas"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Thu, 10 Sep 2015 15:24:04 GMT"}],"recorded_with":"VCR 2.9.3"}